body {background-color: rgb(183, 2, 255);}
h1 {text-align: center; color: rgb(255, 0, 0);font-size: 400%;}
h2 {text-align: center; border-color: rgb(243, 0, 49);font-size: 200%;}
h3 {text-align: center; border-color: rgb(255, 0, 51); font-size: 200%;}

#ima1 {margin-left: 50%; border-color: rgb(255, 0, 51);}